/* General styles */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
 background-color: rgb(15, 76, 54);
 color: white;
  padding: 0px;
  margin-bottom: 0;
}

.header-section {
  padding: 0px;
  width: 100%;
}

/* Carousel styles */
.carousel-content {
  padding: 20px;
  background-color: rgb(15, 76, 54);
  color: white;
  text-align: center;
  font-size: 12px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

/* Responsive styles using Bootstrap classes */
@media (min-width: 600px) {
  .header {
    flex-direction: row;
    justify-content: space-around;
  }

  .header-section {
    flex: 1;
    margin: 0 10px;
  }
}

@media (min-width: 1024px) {
  .header {
    padding: 0px;
  }

  .header-section {
    padding: 10px;
    font-size: 1.2em;
  }
}


.cardelem{
  max-width: 18rem;

  
}
.cardtitle{
  width: auto;
  height: auto;
  font-size: 15px;
}



.navbar-brand {
  width: 70px;
  height: 50px;
  max-width: 100%;
}

.navbar-brand img{
  width: auto;
  height: auto;
  max-width: 100%;
}
.me-auto{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 10px;
  margin-bottom: 15px;
}
.navbar{
  display: flex;
  justify-content: flex-end;
  background-color:rgb(255, 246, 244);
}
.nav-link{
  color: black;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: .12em;
   font-family: Outfit, sans-serif !important;
   display: flex;
   justify-content: flex-end;
   margin-left: 20px;
 
}
.nav-item{
  text-decoration: none;
  color: black;
  margin-left:30px ;
 
  
}
.search{
  display: flex;
  background-color: white;
/* border: 1px solid black; */
  /* line-height: 40px; */
  border-radius: 23px;
  width: 270px;
  height: 32px;
  z-index: 1;
  position: relative;
  left: 5%;
  top: 0px;

 
}
.searchbox{
border: none;
  border-radius: 20px;
  width: 270px;
  /* height: 32px; */
  outline: none;
  padding: 0 15px;
  font-family: Outfit, sans-serif;
  font-size: 12px;
  color: #969696;
  z-index: -1;

}
.search  button{
  background-color:transparent;
    border:0;
}
.searchlogo{
width: 40px;
  background-color: white;
  height: 30px;
  border: none;
  margin-right: 10px;
  margin-top: -6px;
}
.searchlogo:hover{
 background-color: white;
}
.iconstab{
  position: relative;
  left: 4%;
  gap: 20px;
  /* top: 10px; */
 
}
.iconstab  button{
  background-color:transparent;
    border:0;
}
.iconslogo{
  width: 25px;
  height: 25px;
  border: none;
  
}
.adminlogo{
  width: 30px;
  height: 30px;
}

/* why choose us */
.bottom{
background-color: #eff8f2;
height: auto;
padding-top: 36px;
padding-bottom: 36px;
padding-left: 10px;
padding-right: 10px;
margin-top: 50px;


}
.head1{
display: flex;
justify-content: center;
margin-bottom: 3rem;
align-items: center;
flex-wrap: wrap;
}
.head1 h2{
  font-size: 36px;
    line-height: 45px;
    letter-spacing: -.02em;
    font-weight: 400;
    font-family: Outfit, sans-serif ;
}
.head2{
display: flex;
justify-content: space-between;
align-items: center;
margin-right: 46px;
margin-left: 46px;
}
.btlogo{
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.btlogo img{
 width: 90px;
 height: 90px;
}
.bttext{
  font-size: 22px;
    color: #000;
    line-height: 22px;
    font-family: Outfit, sans-serif !important
}

/* about us desin */
.sect1{
  margin-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
}
.parent{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left{
  padding: 1rem 1rem;
  width: 50%;
  max-width: 100%;
}
.right{
  width: 50%;
}
.banner img{
  
  width:100%;
}


/* contact form */

.form-container {
  max-width: 400px;
  margin: 3px auto;
top: 9px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color:transparent;
  backdrop-filter: blur(54px);
  position: relative;
  left: 0;
}

form {
  display: flex;
  flex-direction: column;
}
.form-container div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.form-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.form-button:hover {
  background-color: #090d12;
  font-family: cursive;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.quote{
 
  display: flex;
 justify-content: center;
 width: 50%;
 position: relative;
 top: 10px;
}
.quote p{
  font-size: 19px;
  font-family: cursive;
}

.title p{
  color: white;
  /* border: 2px solid; */
  width: 62%;
  position: relative;
  left: 36%;
 
  font-size: 24px;
  line-height: 1.5;
  font-weight: 600;
  font-family: math;
}

.title span{
  position: relative;
  left: 70%;
  top: -10px;
}


/* home banner */
.banner2{
  background-color: #ffd02a;

      padding-left: 15px;
        padding-right: 15px;
}
.insidebanner{
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 11px 0;
  max-width: 700px;
}
.insidebanner h2{
  line-height: 3rem;
  font-size: 24px;
}
.btnbanner2{
  background-color: #007bff;
  margin: 0 !important;
    background: #149253;
    border-color: #149253;
    border-radius: 4px;
    line-height: 20px;
    font-size: 15px;
    letter-spacing: .1em;
    font-weight: 600;
    font-family: Outfit;
    min-height: 40px !important;
        padding: 13px 30px 10px;
          min-width: 15rem;
}








